*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
position: relative;
background-color: antiquewhite;
}

main{
    height: 500px;
    width: 400px;
    background-color: bisque;
    border: solid 1px black;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

h1{
    text-align: center;
    margin-bottom: 12px;
}

hr{
    height: 3px;
    background-color: black;
    border-style: none;
}

p, #cor{
    text-align: center;
}

#JogoDaVelha{
    margin-top: 50px
}

.linha{
    text-align: center;
}

button{
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: white;
}

#jogador{
    height: 55px;
    width: 290px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgb(241, 195, 125);
    text-align: center;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

#reiniciar{
    position: absolute;
    left: 61%;
    top: 90%;
}

#reset{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}
